---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';
// import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
// import Team from '~/components/widgets/Team.astro';

const metadata = {
  title: 'Qompa - Ni Banco Ni Fintech, tu qompañero financiero',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        target: '_self',
        text: 'Quiero conocer más',
        href: 'https://registrate.qompa.io',
      },
      // { variant: 'primary', text: 'Crea tu cuenta gratis', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/iphone-hero.png',
      alt: 'App',
    }}
  >
    <Fragment slot="title"> Ni banco, ni fintech tu qompañero financiero </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">
        Transformamos a las empresas con soluciones financieras innovadoras basadas en Inteligencia Artificial
      </span>
    </Fragment>
  </Hero2>

  <!-- Content2 Widget **************** -->

  <Content2
    isReversed
    image={{
      src: '~/assets/images/qompa-mascot-1.png',
      alt: 'Qompa Image',
    }}
    classes={{ container: 'dark:bg-dark-lime lg:py-0 p-4' }}
  >
    <Fragment slot="content">
      <h2 class="text-5xl font-heading font-bold tracking-tight dark:text-dark-light sm:text-9xl mb-2">
        ¡Hola!<br />Soy Qompa
      </h2>
      <p class="mt-10 dark:text-dark-light">
        Tu asesor de Inteligencia Artificial 24/7.<br />Te ayudaré a conocer sobre las mejores<br />prácticas
        financieras y automatizar tus reportes, pagos y todo lo que necesites.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content2>

  <!-- Features2 Widget ************** -->

  <Features2
    id="about"
    title="¿Por qué usar Qompa?"
    tagline="Brindamos información basada en datos, herramientas fáciles de usar y productos personalizados para ayudar a las empresas a prosperar."
    classes={{ container: 'px-0 py-6 md:py-8 lg:py-12' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Pricing Widget ******************* -->

  <Prices
    id="pricing"
    title="Descubre<br/>nuestros planes"
    tagline="¡Conoce todos los beneficios que<br/>Qompa puede brindarte a costo cero!"
    isDark={false}
    classes={{ container: 'bg-lime md:px-6 py-6 md:py-8 lg:py-12', prices: 'bg-light-gray' }}
    prices={[
      {
        title: 'Básico',
        price: '0',
        oldPrice: '40',
        period: '/ por los primeros 3 meses',
        items: [
          {
            description: 'Flujo de caja automatizado e interactivo (Real y proyectado)',
          },
          {
            description: 'Carga de documentos por imágenes imilitadas',
          },
          {
            description: 'Hasta 30 transferencias de pago mensual',
          },
          {
            description: 'Consultas personalizadas con el asistente de inteligencia artificial Qompa',
          },
          {
            description: 'Configura tus alertas de pago',
          },
        ],
        callToAction: {
          target: '_self',
          text: 'Elegir este plan',
          href: 'https://registrate.qompa.io',
        },
        hasRibbon: true,
        ribbonTitle: '¡Gratis!',
      },
      {
        title: 'standard',
        price: 60,
        period: '/ Por Mes',
        disclaimer: {
          cardColor: 'bg-yellow',
          title: 'Próximamente',
          text: 'Pronto descubrirás más beneficios de nuestro plan regular, junto con nuevas funcionalidades para impulsar el crecimiento de tu negocio.',
        },
      },
      {
        title: 'Premium',
        price: 100,
        period: '/ Por mes',
        disclaimer: {
          cardColor: 'bg-pink',
          title: 'Próximamente',
          text: 'Nuestro plan premium maximiza el uso de nuestra inteligencia artificial, analizando tus datos y brindándote información clave para tomar mejores decisiones en el momento justo.',
        },
      },
    ]}
  />

  <Content
    id="blog"
    isReversed
    textInCard
    image={{
      src: '~/assets/images/image-city-lima.png',
      alt: 'City',
    }}
    classes={{ container: 'dark:bg-orange md:px-6 py-6 md:py-8 lg:py-12' }}
  >
    <Fragment slot="content">
      <h2 class="text-5xl xl:text-6xl font-heading font-bold tracking-tight dark:text-dark-lime mb-1">
        ¿Cómo nació la<br />idea de Qompa?
      </h2>
      <p class="mt-10 dark:text-dark-lime leading-6">
        A finales del 2023 los fundadores de Inversiones IO, deciden resolver una necesidad que veían en las PYMES de
        ordenar y mejorar su gestión operativa, porque afectaba negativamente su salud financiera. Así nació Qompa, que
        impulsada por inteligencia artificial será capaz de brindar soluciones que mejoren el día a día de todas estas
        empresas.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- <Team
    title="Conoce a nuestro equipo"
    tagline="Descubre quiénes están transformando la<br/ >manera en la que haces negocios."
    people={[
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Simon',
        surname: 'Vacher',
        role: 'CEO',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Zoe',
        surname: 'Lopez',
        role: 'CPO',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Diana',
        surname: 'Field',
        role: 'Product Designer',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Luis',
        surname: 'Espinoza',
        role: 'CTO',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Sergio',
        surname: 'Yep',
        role: 'UX/UI',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Luis',
        surname: 'Quiñones',
        role: 'Sr Backend',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Facundo',
        surname: 'Marino',
        role: 'Sr Frontend',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Diego',
        surname: 'Gutierrez',
        role: 'Growth Lead',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Graciela',
        surname: 'Ramirez',
        role: 'Product Designer',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'German',
        surname: 'Goñi',
        role: 'Data Analytics Advisory',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'Francesco',
        surname: ' Ucelli',
        role: 'IA Consulting',
      },
      {
        photo: '~/assets/images/diego-gutierrez.png',
        name: 'David',
        surname: 'Tramon',
        role: 'Gamification Advisory',
      },
    ]}
  /> -->

  <div id="team2" class="md:hidden relative px-4 text-default mx-auto md:px-6 py-6 md:py-8 lg:py-12">
    <h3 class="font-bold leading-tighter font-heading text-heading text-6xl md:text-6xl highlight">
      Tenemos un equipo de<br />trabajo disruptivo
    </h3>
    <p class="xl:text-2xl lg:text-sm font-semibold mt-5">
      Descubre quiénes están transformando<br />la manera en la que haces negocios.
    </p>
  </div>
  <div id="team" class="grid md:grid-cols-5 grid-cols-4 gap-0 content-stretch">
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/simon_vacher.png"
        alt="Simon Vacher"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Simon Vacher</h4>
          <span class="text-3xs md:text-sm">CEO</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/zoe_lopez.png"
        alt="Zoe Lopez"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Zoe Lopez</h4>
          <span class="text-3xs md:text-sm">CPO</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/luis_espinoza.png"
        alt="Luis Espinoza"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Luis Espinoza</h4>
          <span class="text-3xs md:text-sm">CTO</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/diana_field.png"
        alt="Diana Field"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Diana Field</h4>
          <span class="text-3xs md:text-sm">Sr Product Designer</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/ciela_ramirez.png"
        alt="Ciela Ramirez"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Ciela Ramírez</h4>
          <span class="text-3xs md:text-sm">Product Designer</span>
        </div>
      </div>
    </div>
    <div class="md:grid grid-rows-subgrid gap-0 col-span-3 max-h-36 hidden">
      <div class="row-start-2 text-center content-center">
        <h3 class="font-heading xl:text-8xl lg:text-5xl md:text-3xl text-xl p-3 leading-tight">
          Tenemos un equipo de<br />trabajo disruptivo
        </h3>
        <p class="xl:text-2xl lg:text-sm text-xs px-3">
          Descubre quiénes están transformando la manera en la que haces negocios
        </p>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/diego_gutierrez.png"
        alt="Diego Gutierrez"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Diego Gutierrez</h4>
          <span class="text-3xs md:text-sm">Growth Lead</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/sergio_yep.png"
        alt="Sergio Yep"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Sergio Yep</h4>
          <span class="text-3xs md:text-sm">UX/UI Designer Sr</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/luis_quinones.png"
        alt="Luis Quiñones"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Luis Quiñones</h4>
          <span class="text-3xs md:text-sm">Backend Dev Sr</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/facundo_marino.png"
        alt="Facundo Marino"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Facundo Marino</h4>
          <span class="text-3xs md:text-sm">Frontend Dev Sr</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/david_tramon.png"
        alt="David Tramon"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">David Tramon</h4>
          <span class="text-3xs md:text-sm">Gamification Advisory</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/german_goni.png"
        alt="German Goñi"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">German Goñi</h4>
          <span class="text-3xs md:text-sm">Data Analytics Advisory</span>
        </div>
      </div>
    </div>
    <div class="relative group">
      <Image
        class="w-full"
        src="~/assets/images/franchesco_ucelli.png"
        alt="Franchesco Ucelli"
        layout="cover"
        loading="lazy"
        decoding="async"
      />
      <div
        class="opacity-0 min-h-12 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex items-end text-xl bg-gradient-to-t from-gray-900 text-dark-light"
      >
        <div class="px-1 pb-2 md:p-4 leading-zero md:leading-none">
          <h4 class="font-semibold text-2xs md:text-2xl">Francesco Ucelli</h4>
          <span class="text-3xs md:text-sm">AI Consulting</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Brands Widget ****************** -->

  <Content
    id="come"
    isReversed
    textInCard
    image={{
      src: '~/assets/images/employee-1.png',
      alt: 'Colaboradora',
    }}
    classes={{ container: 'dark:bg-lime md:px-6 py-6 md:py-8 lg:py-12', bgBox: 'dark:bg-dark-lime' }}
    callToAction={{
      class: 'bg-lime mt-2 w-full',
      target: '_self',
      text: 'Quiero conocer más',
      href: 'https://registrate.qompa.io',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-5xl xl:text-6xl font-heading font-bold tracking-tight dark:text-lime mb-1">
        ¿Quieres ser parte de nuestros primeros usuarios?
      </h2>
      <p class="mt-10 dark:text-lime">
        Inscríbete para recibir el beneficio sin costo durante 3 meses y puedas vivir esta nueva experiencia
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Brands
    title="Contamos con estos aliados"
    icons={[]}
    images={[
      {
        src: '~/assets/images/prometeo-gray-logo.png',
        alt: 'Prometeo',
      },
      {
        src: '~/assets/images/truora-gray-logo.png',
        alt: 'Truora',
      },
      {
        src: '~/assets/images/kin-analytics-gray-logo.png',
        alt: 'Kin Analytics',
      },

      {
        src: '~/assets/images/inversiones-io-gray-logo.png',
        alt: 'Inversiones.io',
      },
    ]}
    classes={{ container: 'md:px-6 py-6 md:py-8 lg:py-12' }}
  />
</Layout>
